:root {
  --rouge: #ff5d73;
  --gris-fonce: #494949;
  --gris-pale: #7c7a7a;
  --roboto: "roboto";
  --bebas: "Bebas Neue";
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 120%;
}

.navbar {
  height: 10vh;
}

.navbar-toggler {
  border: white;
}

.navbar-brand {
  font-weight: 900;
  font-family: var(--bebas);
}

.logo {
  object-fit: contain;
}

#avatar {
  object-fit: contain;
}

footer {
  font-size: small;
}

.logo-footer {
  width: auto;
}

main {
  position: relative;
  top: 30%;
}

.search-bar {
  border: 2px solid var(--rouge);
}

.search-bar:active {
  box-shadow: 0 0 10px #ff5d73;
  border: 2px solid var(--rouge);
}
.search-bar:focus {
  box-shadow: 0 0 10px #ff5d73;
  border: 2px solid var(--rouge);
}

.btn {
  border: 2px solid var(--rouge);
}

.btn:hover {
  background-color: var(--rouge);
}
.btn:focus {
  background-color: var(--rouge);
}

.img-vedette {
  height: 20vh;
  object-fit: cover;
}

#programme-h {
  object-position: 70%;
}

.yanis {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 5%;
}

.yani {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.card:hover {
  top: -2%;
  box-shadow: 0 0 10px var(--gris-pale);
}

#vedette {
  overflow: hidden;
}

.vedettes {
  max-width: 200px;
}

#bubble {
  object-position: 0 30%;
}

.navbar-art {
  background-color: rgba(0, 0, 0, 0);
}

i {
  font-size: x-large;
  color: black;
}

.hero {
  text-align: center;
}

.hero-art {
  height: 33vh;
  width: 100%;
  object-fit: cover;
}

.coeur {
  position: absolute;
  right: -38%;
}

.content {
  border-radius: 50px;
  position: relative;
  top: -30px;
}

.icon-art {
  font-size: small;
}

.img-artist {
  height: 22vh;
  object-fit: cover;
  object-position: 0% 30%;
}

.bi-heart:hover {
  color: #ff5d73;
}

.heart-clicked {
  color: #ff5d73;
}

.swiper-slide {
  width: auto;
  margin: 0.5rem;
}
